<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>This is CI/CD Test service</h1>
    <h2>CICD Demo</h2>
    <h1>This is CI/CD Test</h1>
    <h2>Test Deployment</h2>
  </body>
</html>
